/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
}

/* Cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaço entre o logo e o título */
    background-color: #FFA000;
    width: 100%;
    height: 68px;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Logo */
.logo {
    flex: 0 1 auto; /* Permite que o logo ocupe apenas o espaço necessário */
    margin-right: auto; /* Garante que o logo fique no canto esquerdo */
}

/* Imagem do logo */
.logo img {
    height: 68px; /* Ajusta a altura da imagem */
}

/* Ajuste na altura e alinhamento do logo */
.header-title h1 {
    color: #FF5722;
    font-size: 2.5rem;
}

/* Título */
.header-title {
    flex: 1; /* Permite que o título ocupe o espaço restante */
    text-align: center; /* Centraliza o texto dentro da área do título */
}

/* Imagem do logo */
.logo img {
    height: 68px; /* Ajusta a altura da imagem */
}

.header-title h1 {
    color: #FF5722;
    font-size: 2.5rem;
}

/* Contêiner do Slider Menu */
.slider-container {
    width: 100%;
    background-color: #E0E0E0;
    padding: 15px 0;
    text-align: center;
    position: relative;
}

.slider-menu {
    background-color: #FFF;
    color: #111;
    width: 70%;
    margin: 0 auto;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
}

.slider-menu.open {
    height: 200px; /* Altura do menu quando aberto */
}

.slider-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.slider-menu ul li {
    padding: 10px;
}

.slider-menu ul li a {
    color: #111;
    text-decoration: none;
    font-size: 18px;
}

.slider-menu ul li:hover {
    background-color: #FFA000;
}

/* Botão de Toggle Menu */
.menu-toggle {
    font-size: 20px;
    cursor: pointer;
    background-color: #FFA000;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-top: 10px;
}

.menu-toggle:hover {
    background-color: #FF5722;
}

/* Conteúdo principal */
.main-content {
    padding: 20px;
    transition: transform 0.5s ease; /* Animação suave de movimento do conteúdo */
}

/* Banner superior */
.top-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #FFA000;
}

.banner-img {
    max-width: 100%;
    height: auto;
}

/* Grade de itens */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; /* Ajustando o espaçamento entre os itens */
    padding: 20px;
}

.grid-item {
    background-color: #E0E0E0;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 20px;
    height: 200px; /* Altura ajustada */
}
