{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperlândia | Login</title>
    <link rel="stylesheet" href="{% static 'style_login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="welcome-section">
            <h2>Bem-Vindo de Volta</h2>
        </div>
        <div class="form-section">
            <h2>Cadastre seus dados</h2>
            <form method="POST" autocomplete="off"> 
                {% csrf_token %}
                <div class="input-group">
                    <i class="fas fa-user"></i>
                    <input type="text" id="name" name="name" required placeholder="Nome" autocomplete="off"> 
                </div>
                <div class="input-group">
                    <i class="fas fa-envelope"></i>
                    <input type="email" id="email" name="email" required placeholder="Email" autocomplete="new-email">
                </div>
                <div class="input-group">
                    <i class="fas fa-lock"></i> 
                    <input type="password" id="password" name="password" required placeholder="Senha" autocomplete="new-password"> 
                </div>
                <button type="submit">Entrar</button>
            </form>
        </div>
    </div>
</body>
</html>
