.grid-container {
  display: grid;
  grid-template-columns: 160px 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 20px; /* Define o espaçamento geral entre os elementos */
  padding: 20px 20px 20px 0; /* Remove padding da esquerda para grudar o slider no canto esquerdo */
}

.slider-item {
  grid-row: span 3;
  background-color: #d1d1d1;
  width: 160px;
  height: 804px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #333;
  position: relative;
  left: -20px; /* Move o slider para a esquerda para grudar no canto da tela */
}

.header-item {
  grid-column: span 3;
  height: 232px;
  background-color: #ffcc00;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 40px; /* Espaçamento entre o cabeçalho e os quadrados abaixo */
}

.grid-item {
  background-color: #e0e0e0;
  aspect-ratio: 1 / 1; /* Mantém os itens quadrados */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #333;
}
