.header {
  display: flex;
  align-items: center;
  background-color: #FFB41C;
  width: 100%; 
  height: 68px;
  padding: 0; 
  box-sizing: border-box;
}

.logo {
  width: 491px;  
  height: 68px; 
}

.logo img {
  width: 100%;  
  height: 100%;
  object-fit: cover; 
}

.title {
  flex-grow: 1;  
  color: #ff4500;
  font-size: 24px;
  text-align: center; 
  margin-right: 20px;  
}
