/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
}

/* Cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFA000;
    width: 100%;
    height: 68px;
    padding: 0 20px;
}

.logo {
    flex: 0 1 auto;
}

.menu-icon {
    flex: 1;
}

.menu-toggle {
    font-size: 20px;
    cursor: pointer;
    background-color: #FFA000;
    color: white;
    padding: 10px 15px;
    border: none;
}

.menu-toggle:hover {
    background-color: #FF5722;
}

/* Slider Menu */
.slider-menu {
    position: fixed;
    top: 68px;
    left: -200px; /* Escondido fora da tela por padrão */
    width: 200px;
    height: 100%;
    background-color: #FFC107;
    transition: left 0.3s ease;
}

.slider-menu.open {
    left: 0; /* Mostra o menu quando aberto */
}

.slider-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.slider-menu ul li {
    padding: 15px;
    color: white;
}

.slider-menu ul li:hover {
    background-color: #FF9800;
}

/* Conteúdo principal */
.main-content {
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.top-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #FFA000;
}

.banner-img {
    max-width: 100%;
    height: auto;
}

/* Grid layout */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;
}

.grid-item {
    background-color: #E0E0E0;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 20px;
    height: 200px;
}
