@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif, 'Inter';
    background-color: #D9D9D9; 
}

/* Cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    width: 100%;
    height: 68px;
    padding: 0 20px;
}

.logo {
    flex: 0 1 auto;
}

.menu-icon {
    flex: 1;
}

.menu-toggle {
    font-size: 20px;
    cursor: pointer;
    background-color: #FEF7FF; 
    color: #000000;
    padding: 10px 15px;
    border: none;
}

.menu-toggle:hover {
    background-color: #D3D3D3; 
}

.date-time {
    position: absolute;
    left: calc(85% - 945px); 
    transform: translateX(-50%);
    font-size: 120%; 
    color: #000000; 
    white-space: nowrap; 
    opacity: 0.8;
    font-weight: bold; 
}

/* Slider Menu */
.slider-menu {
    position: fixed;
    top: 68px;
    left: -200px;
    width: 200px;
    height: 100%;
    background-color: #FFB41C;
    transition: left 0.3s ease;
    align-items: center; 
    justify-content: center;
    overflow: hidden; 
}

.slider-menu.open {
    left: 0;
}

.slider-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.slider-menu ul li:first-child {
    margin-top: 10px;
}

.slider-menu ul li {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 10px 12px; 
    background-color: #424242; 
    color: white;
    border-radius: 5px; 
    font-size: 14px; 
    margin-bottom: 10px; 
    color: #FFFFFF;
    justify-content: center; 
    align-items: center;
    text-align: center; 
}

.slider-menu ul li:hover {
    background-color: #616161; 
}

.slider-menu ul li::after {
    content: "\25BC"; 
    font-size: 12px; 
    color: white;
    margin-left: 10px; 
}

.slider-menu ul li a {
    color: #FFFFFF; 
    text-decoration: none; 
    width: 100%; 
}

/* Conteúdo principal */
.main-content {
    padding: 20px;
    transition: margin-left 0.3s ease;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center; 
    font-weight: bold;
    background-color: #e0e0e0; 
    padding: 10px; 
    border-radius: 8px; 
    width: 60%; 
    margin: 0 auto; 
}

/* Table for process monitoring */
.process-table {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 10px; 
    padding: 20px;
}

.process-row {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #f3f3f3;
    border-radius: 5px;
    align-items: center;
    border: 1px solid #ddd;
    font-size: 16px;
    color: #000000CC;
    font-weight: bold; 
    position: relative;
}

.process-row span {
    font-family: 'Inter', sans-serif;
    font-weight: 700; 
    font-size: 24px; 
    line-height: 36px; 
    letter-spacing: -1.9%; 
    color: #000000CC; 
}
.status {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
}

.success {
    background-color: #4CAF50;
}

.fail {
    background-color: #F44336;
}
